{% extends 'base.html' %}

{% block title %}Call-ka Phone: Login{% endblock %}

{% block content %}
<div class="auth-form card-with-shadow" style="min-width: 400px; min-height: 200px;">
    <nav class="navbar-container">
        <div style="display: flex;">
            <a href="/" style="display: flex;">
                <h1>Call-ka</h1>
                <p>phone</p>
            </a>
            <a href="/login" style="display: flex;">
                <h1>: Login</h1>
            </a>
        </div>
    </nav>
    <form method="POST">
        <div class="form-group">
            <label for="token">Token:</label>
            <input type="text" id="token" name="token" required>
        </div>
        <button type="submit" class="accept-button button-with-shadow">Login</button>
    </form>
    <h3>Don't have an account? <a href="{{ url_for('register') }}" style="color: #4f50d7;">Register</a></h3>
</div>

<link type="text/css"  href="{{ url_for('static', filename='css/card-with-shadow.css') }}" rel="stylesheet">
<link type="text/css"  href="{{ url_for('static', filename='css/buttons.css') }}" rel="stylesheet">
{% endblock %}